<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_Cjr9h9sk_43TH1Fb7pXxUj-AQ5qN-cU</string>
	<key>GCM_SENDER_ID</key>
	<string>939067710555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LesFeesMarraines.JoueTonAvenir</string>
	<key>PROJECT_ID</key>
	<string>jouetonavenir</string>
	<key>STORAGE_BUCKET</key>
	<string>jouetonavenir.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939067710555:ios:22fd876eaa92f9c3ddb37e</string>
</dict>
</plist>